body{
    /* background-image: url(/BLOGCONPHP/IMG/folk-pattern.png);
    background-image: url(BLOGCONPHP/IMG/moroccan-flower-dark.png); */
    /* background-image: url('/img/moroccan-flower-dark.png'); */
    background-image: url('/BLOGCONPHP/img/moroccan-flower-dark.png');
    /* background-image: url('./img/moroccan-flower-dark.png'); */

}
/*jumbotron*/
.jumbotron{
    background-color:#658197;
    color:black;
    font-weight: bold;
    min-height: 300px;
}

/*Navegacion principal*/
.navbar{
    background-color: #2b2b2b !important;
}
.navbar-brand:link,.navbar-brand:visited{
    color:lightseagreen;
    
}
.navbar-brand:hover,.navbar-brand:active{
    color:white !important;
}

.navbar li a:hover, .navbar li a:active{
    color:blue !important;
}

.navbar li a:link, .navbar li a:visited{
    color:whitesmoke;
}

.navbar .btn{
    background-color: #658199;
}
.dropdown-menu{
    background-color:rgba(60, 60, 60,.8);
}
.show > a{
    color: whitesmoke !important;
}

/*Cards principales*/

.card-header{
    background-color:#658197;
    color: white;
    font-weight: bold;
}
.card-body{
    background-color:#D3DBE4;
}

/*Estilos de botones*/

.btn-primary{
    background-color: #658197;
    border:none;
}
.btn-primary:hover{
    background-color: #2b2b2b;
}

/*Articulos como entradas*/
.contenido-articulo article{
    text-align: justify;
}


